/* Reset CSS-------------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, 
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*-----------------------------------------------------------------------------*/

/*Header-----------------------------------------------------------------------*/

.header {
    background: url("../.images/bg.jpg") center no-repeat;
    background-size: cover;
    min-height: 845px;
    padding: 65px 0 160px 0;
    font-family: 'League_Gothic', sans-serif;
    position: relative;
}

.header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav_item,
.nav_link {
    display: inline-block;
    position: relative;
    margin-right: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    line-height: 34px;
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    color: #fff;
    padding-bottom: 7px;
}


.nav_link:last-child {
    margin: 0;
}

.nav_link:after {
    content: "";
    display: block;
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: #edbfff;
    
    position: absolute;
    left: 0;
    top: 75%;
    z-index: 1;
    
    -webkit-transition: opacity 0.2s linear;
    
    transition: opacity 0.2s linear;
}

.nav_link:hover:after {
    opacity: 1;
}

.logo {
    color: #fff;
    font-size: 48px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.violet {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#322539), to(#745083));
    background-image: linear-gradient(to top, #322539, #745083);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*----------------------------------------------------------------------------*/

/*Container-------------------------------------------------------------------*/

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    
    position: relative;
}

/*----------------------------------------------------------------------------*/

/*Header-top------------------------------------------------------------------*/

.header_top {
    position: absolute;
    left: 0;
    top: 275px;
    width: 100%;
    max-height: 400px;
    background: rgba(0, 0, 0, 0.2);  
}

.header_top-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header_top-image {
    margin: -20px 70px 0 0;
}

.header_top-block {
    max-width: 510px;
    max-height: 230px;
    margin-top: 90px;
    font-family: 'League_Gothic', sans-serif;
}

.header_top-title {
    font-size: 60px;
    line-height: 36px;
    color: #fff;
    padding-bottom: 10px;
}

.header_top-subtitle {
    font-size: 32px;
    line-height: 36px;
    color: #edbfff;
    padding-bottom: 5px;
}

.header_top-text {
    font-size: 18px;
    color: #fff;
    font-family: 'Open_Sans_Light', sans-serif;
    line-height: 24px;
}

.header_top-left {
    display: block;
    background: url("../.images/arrow-prev.png") no-repeat;
    z-index: 10;
    opacity: 1;
    color: transparent;
    
    width: 30px;
    height: 42px;
    
    position: absolute;
    top: 48%;
    left: -325px;
    -webkit-transform: translateY(-48%);
    transform: translateY(-48%);
}

.header_top-right {
    display: block;
    background: url("../.images/arrow-next.png") no-repeat;
    z-index: 10;
    opacity: 1;
    color: transparent;    
    
    width: 30px;
    height: 42px;
    
    position: absolute;
    top: 48%;
    right: -320px;
    -webkit-transform: translateY(-48%);
    transform: translateY(-48%);
}
/*----------------------------------------------------------------------------*/

/*Circle-slider---------------------------------------------------------------*/

.circle_slider,
.circle_slider_white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 80px 0 0 540px;
}

.circle_slider_white{
    padding: 25px 0 0 40px;
}

.circle {
    margin-left: 5px;
    width: 16px;
    height: 16px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: block;
}

.circle_white {
    margin-left: 5px;
    width: 16px;
    height: 16px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    display: block;
}

.circle-active,
.circle:active.circle {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.7);
}

.circle_white-active,
.circle_white:active.circle_white {
    background: #000;
    border: 2px solid #fff;
}

.circle_slider_container {
    width: 427px;
    float: left;
}

.circle_white {
    -webkit-box-shadow: 1px 1.7px 0 0 #ffffff;
    box-shadow: 1px 1.7px 0 0 #ffffff;
}

/*----------------------------------------------------------------------------*/

/*About-----------------------------------------------------------------------*/

.about {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#322539), to(#745083));
    background-image: linear-gradient(to top, #322539, #745083);
}

.about_block {
    padding: 80px 0 65px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.about_block-item {
    max-width: 290px;
    position: relative;
    padding-left: 65px;
}

.about_block-title {
    font-family: 'League_Gothic', sans-serif;
    font-size: 30px;
    line-height: 24px;
    color: #fff;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.about_block-text {
    max-height: 113px;
    overflow: hidden;
    
    font-family: "Open_Sans_Light", sans-serif;
    line-height: 24px;
    color: #fff;
    font-size: 16px;
}

.about_block-image {
    width: 35px;
    
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
}

.about_block-more {
    text-transform: uppercase;
    font-family: 'League_Gothic', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 25px 5px 0 0;
    text-decoration: none;
    float: right;
}

.about_block-more-active,
.about_block-more:hover{
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

/*----------------------------------------------------------------------------*/

/*Updates---------------------------------------------------------------------*/

.updates {
    width: 100%;
    height: 485px;
    background: #f9f9f9;
    padding-top: 100px;
}

.updates_block {
    display: block;
    float: left;
}

.updates_gray {
    color: #454545;
}

.updates_block-article {
    width: 425px;
    background: #fff;
    padding-bottom: 25px;
    position: relative;
    margin-left: 20px;
}

.updates_block-article_title {
    font-family: 'League_Gothic', sans-serif;
    font-size: 30px;
    line-height: 24px;
    color: #edbfff;
    text-transform: uppercase;
    position: relative;
    padding: 32px 0 0 40px;
    text-shadow: 0.5px 0.9px 0 #ffffff;
}

.updates_block-article_title::before {
    content: "";
    display: block;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: url("../.images/photo-icon-1.png") no-repeat;
    background-size: 49px 49px;

    position: absolute;
    top: 18px;
    left: -24px;
}

.updates_block-article_text {
    height: 190px;
    overflow: hidden;

    font-family: "Open_Sans_Light", sans-serif;
    color: #454545;
    font-size: 16px;
    line-height: 24px;

    padding: 12px 30px 0 38px;

    text-shadow: 0.5px 0.9px 0 #ffffff;
}

.updates_block-article_padding {
    padding-top: 20px;
}

.updates_block-article::after {
    content: "";
    display: block;
    position: absolute;
    border-top: 20px solid #fff;
    border-left: 20px solid transparent;
    right: 40px;
    bottom: -20px;
    width: 0;
    height: 0;
    z-index: 2;
}

.updates_block-recent {
    width: 450px;
    float: right;
    padding-top: 30px;
}

.updates_block-recent-title {
    font-family: 'League_Gothic', sans-serif;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    color: #454545;
    text-shadow: 0.5px 0.9px 0 #ffffff;
}

.updates_block-recent_item {
    padding-left: 65px;
    
    position: relative;
}

.updates_block-recent_item::before {
    content: "";
    display: block;
    
    width: 49px;
    height: 49px;
    border-radius: 50%;
    
    
    background: url("../.images/photo-icon-2.png") top left no-repeat;
    
    position: absolute;
    top: 18px;
    left: 0;
}

.updates_block-recent_item:nth-child(2)::before {
    background: url("../.images/photo-icon-2.png") top right no-repeat;
}

.updates_block-recent_item:nth-child(3)::before {
    background: url("../.images/photo-icon-2.png") bottom right no-repeat;
}

.updates_block-recent_subtitle {
    font-family: "Open_Sans_ExtraBold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #454545;
    font-weight: 800;
    
    padding-top: 20px;
}

.updates_block-recent_text {
    font-family: "Open_Sans_Light", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #454545;
}

.updates_block-recent_link {
    font-family: 'League_Gothic', sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #454545;
    display: block;
    float: right;
    margin: 15px 20px 0 0;
}

/*----------------------------------------------------------------------------*/

/*Horizontal Line-------------------------------------------------------------*/

.horizontal_line {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #fefefe;
    margin: 0;
    padding: 0;
    width: 100%;
}

.horizontal_line-reverse {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #fefefe;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*----------------------------------------------------------------------------*/

/*Logos-----------------------------------------------------------------------*/

.logos {
    height: 120px;
    width: 100%;
    background-color: #f9f9f9;
}

.logos_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    padding: 25px 65px 25px 65px;
}

.logos_item-image {  
    margin: 0 auto;
}

/*----------------------------------------------------------------------------*/

/*Recent comments-------------------------------------------------------------*/

.recent_comments {
    background-color: #ececec;
    height: 395px;
}

.recent_comments-gray {
    color: #b9b9b9;
}

.recent_comments-article {
    width: 280px;    
    height: 300px;
    overflow: hidden;
    display: inline-block;
    padding-top: 100px;
    margin-right: 55px;
}

.recent_comments-article:last-child {
    margin-right: 0;
}

.recent_comments-article_title {
    font-family: 'League_Gothic', sans-serif;
    font-size: 48px;
    line-height: 36px;
    text-transform: uppercase;
    color: #454545;
    text-shadow: 0px 1px 0 #ffffff;
}

.recent_comments-article_title-small_font {
    font-size: 30px;
    line-height: 24px;
}

.recent_comments-article_subtitle {
    padding-top: 15px;
    
    font-family: "Georgia", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #c5c5c5;
    font-size: 16px;
    line-height: 24px;
    
    text-shadow: 0.5px 0.9px 0 #ffffff;
}

.recent_comments-article_text {
    font-family: "Open_Sans_Light", sans-serif;
    font-size: 16px;
    color: #787878;
    
    text-shadow: 0.5px 0.9px 0 #ffffff;
    line-height: 24px;
    
    padding-top: 10px;
}

/*----------------------------------------------------------------------------*/

/*Footer----------------------------------------------------------------------*/

.footer {
    width: 100%;
    height: 110px;
    
    background: url("../.images/footer.jpg") center center no-repeat;     
}

.footer_nav {
    float: left;
}

.footer_nav_list {
    width: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    
    padding-top: 40px;
}

.footer_nav_link {
    text-decoration: none;
    font-family: 'League_Gothic', sans-serif;
    font-size: 20px;
    line-height: 34px;
    color: #fff;
    text-transform: uppercase;
    
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
}

.footer_designed {
    float: right;
    font-family: "Open_Sans_Light", sans-serif;
    font-size: 12px;
    line-height: 34px;
    color: #fff;
    
    padding-top: 40px;
    text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
}

.footer_designed-bold {
    font-family: "Open_Sans_extraBold", sans-serif;
    font-size: 12px;
    line-height: 34px;
    font-weight: 800;
}

/*----------------------------------------------------------------------------*/








